.inputs-wrapper {
    display: flex; 
    flex-direction: column; 
    gap: 1.5em; 
}

.login-container {
    background-color: white; 
    max-width: 90%; 
    padding: 2em;
    border-radius: 7px; 
    margin: 2.5em auto 0; 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.login-button-wrapper {
    display: flex; 
}

.login-button {
    width: 100%; 
}

@media (min-widht: 361px) {
    .login-container {
        max-width: 80%; 
    }
}

    @media (min-width: 769px) {
    .login-container {
        max-width: 50%; 
    }

    .login-button-wrapper {
        justify-content: flex-end; 
    }

    .login-button {
        max-width: 100px; 
    }
}