<header>
    <div class="row-header">
        <div class="logo" id="logo">
            <a href="/">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercadoliebre" />
            </a>
        </div>

        <div class="search-bar header-item">
            <form action="GET">
                <input type="text" id="search" placeholder="Buscar">
                <div class="submit clickable"><i class="fa fa-search"></i></div>
            </form>
        </div>

        <div class="header-item payment-options">
            <p>
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
    </div>

    <nav class="navbar">
        <ul class="navbar-items">
            <li><a href="#oferta">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="navbar-items">
            <li>
                <a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a>
            </li>
            <li>
                <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
            </li>
            <li>
                <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
            </li>
        </ul>
    </nav>

    <div class="burger-menu-container">
        <button class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </button>
    </div>
    
</header>